*.iml
.gradle/
build/
/local.properties
/.idea/
/.idea/caches
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/dictionaries/
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
*.log
Thumbs.db
/app/src/main/java/com/mort/przepisownia/FunkcjeTODO.txt
/app/proguard-rules.pro
